html, body {
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans KR,sans-serif;
  background-color: #1e1e1e;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

.choose-team {
  padding: 10px;
  border-bottom: 2px solid #fff;
}

.card {
  background-color: #252526;
}